<clickhouse>
   <remote_servers>
        <clickhouse_cluster>
{% for shard_id, shard_replicas in full_distr_cluster.items()%}
            <shard>
                <internal_replication>true</internal_replication>
{% for replica in shard_replicas%}
                <replica>
                    <host>{{ replica }}</host>
                    <port>{{ 9000 + shard_id | int }}</port>
                </replica>
{% endfor%}
            </shard>
{% endfor%}
        </clickhouse_cluster>
    </remote_servers>
</clickhouse>
