version: '3.7'
networks:
  ch_net:
    name: ch_net
    driver: bridge
    driver_opts:
       com.docker.monwork.enable_ipv6: 'false'
    ipam:
       driver: default
       config:
          - subnet: 172.31.0.0/16

services:
{% for container in click_containers %}
  {{ container[1] }}:
    container_name: {{ container[1] }}
    hostname: {{ container[1] }}
    image: yandex/clickhouse-server:21.12.2.17
    restart: always
    ports:
        - {{ 9000 + container[0] }}:{{ 9000 + container[0] }}
        - {{ 9009 + container[0] }}:{{ 9009 + container[0] }}
        - {{ 8123 + container[0] }}:{{ 8123 + container[0] }}
        - {{ 9363 + container[0] }}:{{ 9363 + container[0] }}
    volumes:
        - "./conf/{{ container[1] }}:/etc/clickhouse-server"
        - "./database/{{ container[1] }}:/var/lib/clickhouse"
        - "./logs/{{ container[1] }}:/var/log/clickhouse-server"
    extra_hosts:
{% for host in extra_hosts %}
        - "{{ host }}"
{% endfor %}
    networks:
        - ch_net
{% endfor %}
{% for container in zoo_containers %}
{% set port_id =  container[0] - 1 %}
  {{ container[1] }}:
    container_name: {{ container[1] }}
    image: bitnami/zookeeper:3.7.0
    restart: always
    hostname: {{ container[1] }}
    environment:
        - ZOO_SERVER_ID={{ container[0] }}
        - ZOO_SERVERS={{ zoo_servers[loop.index0] }}
        - ALLOW_ANONYMOUS_LOGIN=yes
        - ZOO_ENABLE_AUTH=no
        - ZOO_PORT_NUMBER={{ 2181 + port_id }}
    ports:
        - {{ 2181 + port_id }}:{{ 2181 + port_id }}
        - {{ 2888 + port_id }}:{{ 2888 + port_id }}
        - {{ 3888 + port_id }}:{{ 3888 + port_id }}
    extra_hosts:
{% for host in extra_hosts %}
        - "{{ host }}"
{% endfor %}
    networks:
        - ch_net
{% endfor %}
