<clickhouse>
    <zookeeper>
{% for structure in zoo_structure%}
        <node index="{{ loop.index0 + 1 }}">
            <host>{{ structure[1] }}</host>
            <port>{{ 2181 + loop.index0 }}</port>
        </node>
{% endfor %}
    </zookeeper>
</clickhouse>
