<clickhouse>
   <remote_servers>
        <clickhouse_cluster>
{% for structure in distr_structure%}
            <shard>
                <internal_replication>true</internal_replication>
{% for container in structure%}
                <replica>
                    <host>{{ container[1] }}</host>
                    <port>{{ 9000 + container[0] }}</port>
                    <user>replica_user</user>
                    <password>j8suk0qNW00e0F2FHGy/DaKh</password>
                </replica>
{% endfor%}
            </shard>
{% endfor%}
        </clickhouse_cluster>
    </remote_servers>
</clickhouse>
